.loginButton{
    display:flex;
    flex-direction:row-reverse;
    margin-right:50px;
}


.loginMainContent{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    color:white;

}


.grad{
    background-image: linear-gradient(to bottom right, purple , orange);
    
   
}